.header {
  box-sizing: border-box;
  width: 100vw;
  height: 11.3rem;
  background: #2E0B0B;
  padding-left: 43.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .selectLang {
    box-sizing: border-box;
    position: absolute;
    top: 10rem;
    right: 17rem;
    width: 10.4rem;
    height: 15rem;
    background: #2E0B0B;
    border: 0.1rem solid #5F2C2C;
    border-radius: 1.4rem;
    display: flex;
    flex-direction: column;

    .langBtn:first-child {
      border-top-right-radius: 1.4rem;
      border-top-left-radius: 1.4rem;
    }

    .langBtn:last-child {
      border-bottom-right-radius: 1.4rem;
      border-bottom-left-radius: 1.4rem;
    }

    .langBtn {
      color: white;
      font-size: 3.6rem;
      //background: #933B3B;
      height: 7.4rem;
      width: 10.2rem;
    }

    .langBtn:hover {
      background: #933B3B;
    }

    .span {
      position: absolute;
      width: 100%;
      height: 0.2rem;
      top: 7.5rem;
      background: #5F2C2C;
      z-index: 2;
    }
  }

  .logo {
    width: 16.2rem;
    height: 8.1rem;
  }

  .nav {
    display: flex;
    gap: 5.5rem;
    align-items: center;
    padding-right: 20.2rem;

    .list {
      display: flex;
      gap: 5.5rem;

      .item {
        color: white;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        font-weight: 100;
        line-height: 2.5rem;
      }

      .item:hover {
        color: #BA2727;
      }

      .active {
        color: #BA2727;
      }
    }

    .btn {
      width: 4.2rem;
      height: 4.2rem;
      position: relative;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 4.2rem;
        height: 4.2rem;
      }
    }
  }
}

[theme="light"] {
  background: #ffffff;
  box-shadow: 0 0.4rem 2.2rem -0.3rem #FFB8B8;

  .selectLang {
    background: #ffffff;
    border: 0.1rem solid #ff7777;

    .langBtn {
      color: #000000;
    }

    .langBtn:hover {
      background: #FFB6B6;
    }

    .span {
      background: #ff7777;

    }
  }

  .nav {
    .list {
      .item {
        color: #000000;
      }

      .active {
        color: #BA2727;
      }
    }
  }
}