@import 'tailwindcss';

@config '../../tailwind.config.js';

:root {
    --background: #181A19;
    --foreground: #ffffff;
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-lora: var(--font-lora);
    --font-lato: var(--font-lato);
    --font-taviraj: var(--font-taviraj);
    --font-cinzel: var(--font-cinzel);
}

body {
    background: var(--background);
    color: var(--foreground);
}

mark {
    background: none;
    color: #AD9255;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        /* едем вверх на высоту ОДНОГО списка */
        transform: translateY(calc(-1 * var(--scroll-distance)));
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(calc(-1 * var(--scroll-distance)));
    }
    100% {
        transform: translateY(0);
    }
}