
.content {
  height: calc(100vh - 21rem);
  position: relative;
  margin-top: 9.2rem;
  margin-left: 46rem;
  display: flex;
  flex-direction: column;
  gap: 12.2rem;

  .title {
    display: flex;
    gap: 4.4rem;

    .radial {
      position: absolute;
      background: radial-gradient(50% 50% at 50% 50%, #AC3C3C 0%, rgba(133, 15, 15, 0) 100%);
      width: 38.5rem;
      height: 43.1rem;
      left: -7rem;
    }

    .arrow {
      position: absolute;
      width: 7.8rem;
      top: 1.5rem;
      left: 17rem;
    }

    .eclipse {
      position: absolute;
      width: 15.4rem;
      top: 25.5rem;
      left: 71rem;
    }

    .plnEclipse {
      left: 78rem;
      width: 25.5rem;
      top: 24rem;
    }

    .homeImg {
      width: 22.3rem;
      height: 27.3rem;
      align-self: end;
      z-index: 1;
    }

    .text {
      color: white;
      z-index: 1;

      .hey {
        padding-bottom: 8.3rem;
        font-size: 1.9rem;
      }

      .who {
        text-decoration-line: underline;
        text-decoration-thickness: 0.01rem;
        font-size: 1.7rem;

      }

      .mainText {
        font-size: 5rem;
        letter-spacing: 0.2rem;
      }
    }
  }

  .descriptionContent {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    color: white;

    .description {
      .mainText {
        font-size: 5rem;
      }

      .text {
        font-size: 2.1rem;
        letter-spacing: 0.1rem;
      }

    }

    .info {
      width: 88rem;
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
    }

  }

  .btn {
    font-size: 2rem;
    position: absolute;
    color: white;
    bottom: 6rem;
    right: 20rem;
    background: #501212;
    border: 0.1rem solid #933B3B;
    border-radius: 1rem;
    width: 23rem;
    height: 5rem;
  }
}


[theme="light"].content {
  .title {
    .radial {
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.6) 0%, rgba(255, 96, 96, 0.18) 70.83%, rgba(255, 255, 255, 0) 100%);
    }

    .arrow {
      filter: invert(1);
    }

    .eclipse {
      filter: invert(1);
    }

    .text {
      color: black
    }
  }

  .descriptionContent {
    color: black;
  }

  .btn {
    color: black;
    background: #FFB6B6;
    border: 0.1rem solid #933B3B;
    border-radius: 1rem;
  }

}

