.block:nth-child(1) {
  background: linear-gradient(135deg, #280404 19.95%, #431010 67.64%, #6D1212 107.08%, #451010 156.61%, #340606 183.21%);
}

.block:nth-child(2) {
  background: linear-gradient(225deg, #280404 19.95%, #431010 67.64%, #6D1212 107.08%, #451010 156.61%, #340606 183.21%);
}

.block:nth-child(3) {
  background: linear-gradient(90deg, #280404 19.95%, #431010 67.64%, #6D1212 107.08%, #451010 156.61%, #340606 183.21%);
}

.block:nth-child(4) {
  background: linear-gradient(270deg, #280404 19.95%, #431010 67.64%, #6D1212 107.08%, #451010 156.61%, #340606 183.21%);
}

.block:nth-child(5) {
  background: linear-gradient(45deg, #280404 19.95%, #431010 67.64%, #6D1212 107.08%, #451010 156.61%, #340606 183.21%);
}

.block:nth-child(6) {
  background: linear-gradient(315deg, #280404 19.95%, #431010 67.64%, #6D1212 107.08%, #451010 156.61%, #340606 183.21%);
}

.block {
  display: flex;
  gap: 4.6rem;
  box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.12);
  border-radius: 1.5rem;
  filter: drop-shadow(0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25)) drop-shadow(0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  border-top: 0.6rem #8D2222 solid;
  align-items: center;
  padding-left: 6.7rem;

  .img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .effectImg {
      position: absolute;
      width: 12rem;
      height: 9.2rem;
      top: 3rem;
      z-index: -1;
    }

    .logoImg {
      height: 10rem;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    width: 37rem;

    h2 {
      width: 40rem;
      font-size: 3.4rem;
    }

    .description {
      font-size: 1.5rem;
    }
  }
}

[theme="light"].block {
  border-top: 0.6rem #FF6262 solid;
}

[theme="light"].block:nth-child(1) {
  background: linear-gradient(135deg, #FFF2F2 19.95%, #EDACAC 67.64%, #FF5F5F 107.08%, #F1ADAD 156.61%, #FFF8F8 183.21%);
}

[theme="light"].block:nth-child(2) {
  background: linear-gradient(225deg, #FFF2F2 19.95%, #EDACAC 67.64%, #FF5F5F 107.08%, #F1ADAD 156.61%, #FFF8F8 183.21%);
}

[theme="light"].block:nth-child(3) {
  background: linear-gradient(90deg, #FFF2F2 19.95%, #EDACAC 67.64%, #FF5F5F 107.08%, #F1ADAD 156.61%, #FFF8F8 183.21%);
}

[theme="light"].block:nth-child(4) {
  background: linear-gradient(270deg, #FFF2F2 19.95%, #EDACAC 67.64%, #FF5F5F 107.08%, #F1ADAD 156.61%, #FFF8F8 183.21%);
}

[theme="light"].block:nth-child(5) {
  background: linear-gradient(45deg, #FFF2F2 19.95%, #EDACAC 67.64%, #FF5F5F 107.08%, #F1ADAD 156.61%, #FFF8F8 183.21%);
}

[theme="light"].block:nth-child(6) {
  background: linear-gradient(315deg, #FFF2F2 19.95%, #EDACAC 67.64%, #FF5F5F 107.08%, #F1ADAD 156.61%, #FFF8F8 183.21%);
}